@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&family=Pirata+One&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:befor, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjast: 100%;
  -moz-text-size-adjast: 100%;
  -webkit-text-size-adjast: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #B54032;
  background-image: url("../img/body__bg.svg");
  background-position: 0px 1385px;
  color: #ffffff;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1315px) {
  .container {
    width: 100%;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.header__logo {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1315px) {
  .header__logo {
    width: calc(100% - 40px);
  }
  .header__logo img {
    width: 247px;
  }
}

.offer {
  background: #9CB9E9 url("../img/offer__bg.svg") 0 100%/100% auto no-repeat;
  min-height: 1386px;
  position: relative;
}

@media screen and (max-width: 1919px) {
  .offer {
    background: #9CB9E9 url("../img/offer__bg-m.svg") 0 80%/100% auto no-repeat;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1315px) {
  .offer {
    min-height: 1100px;
  }
}

@media screen and (max-width: 913px) {
  .offer {
    min-height: 900px;
  }
}

.offer__text {
  padding-top: 153px;
}

@media screen and (max-width: 1315px) {
  .offer__text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.offer__title {
  font-family: "Pirata One", cursive;
  font-size: 60px;
  width: 787px;
  line-height: 78px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1315px) {
  .offer__title {
    font-size: 32px;
    line-height: 41px;
    width: 100%;
  }
}

.offer__description {
  font-size: 16px;
  font-weight: 300;
  width: 644px;
  line-height: 28.8px;
}

@media screen and (max-width: 1315px) {
  .offer__description {
    width: 100%;
  }
}

.offer__map {
  position: absolute;
  bottom: -290px;
  left: -50px;
}

@media screen and (max-width: 1919px) {
  .offer__map {
    display: none;
  }
}

.offer__tabs {
  position: absolute;
  width: 100%;
  bottom: 290px;
}

@media screen and (max-width: 1919px) {
  .offer__tabs {
    bottom: 0;
    background: #BD472C;
  }
  .offer__tabs:after {
    content: url("../img/offer__case-m.svg");
    position: absolute;
    right: 0;
    top: -80px;
  }
}

.offer__tabs-list {
  width: 720px;
  height: 35px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1919px) {
  .offer__tabs-list {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 820px) {
  .offer__tabs-list {
    height: auto;
    width: 309px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
}

.offer__tabs-list li {
  text-transform: uppercase;
  font-weight: 400px;
  font-size: 18px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 820px) {
  .offer__tabs-list li {
    font-size: 16px;
    width: 110px;
    position: relative;
  }
}

.offer__tabs-list li:after {
  content: url("../img/offer__tabs.svg");
  margin-left: 30px;
  -webkit-filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.01)) drop-shadow(0px 11px 7px rgba(0, 0, 0, 0.05)) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.09)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.01)) drop-shadow(0px 11px 7px rgba(0, 0, 0, 0.05)) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.09)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

@media screen and (max-width: 820px) {
  .offer__tabs-list li:after {
    width: 35px;
    margin-left: 0px;
    position: absolute;
    right: -60px;
  }
}

.offer__tabs-list li:last-child:after {
  display: none;
}

@media screen and (max-width: 820px) {
  .offer__tabs-list li:first-child {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 820px) {
  .offer__tabs-list li:nth-child(2) {
    margin-bottom: 24px;
  }
  .offer__tabs-list li:nth-child(2)::after {
    display: none;
  }
}

.offer__tabs-list li.active {
  font-weight: 800;
  text-decoration: underline;
}

.games {
  -webkit-transform: translateY(-260px);
          transform: translateY(-260px);
  margin-bottom: 80px;
}

@media screen and (max-width: 1919px) {
  .games {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    margin-bottom: 30px;
  }
  .games .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 828px) {
  .games .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.games .game {
  min-width: 100%;
  min-height: 224px;
  border-radius: 25px;
  background: #FFC58E url("../img/game__bg.svg") center top/100% auto no-repeat;
  margin-bottom: 10px;
  position: relative;
}

@media screen and (max-width: 1315px) {
  .games .game {
    margin-left: 20px;
    margin-right: 20px;
    min-width: auto;
    max-width: 374px;
    min-height: 519px;
    background: #FFC58E url("../img/game__bg-m_active.svg") center top/100% auto no-repeat;
    position: relative;
  }
}

.games .game:first-child {
  background: #E8A47A url("../img/game__bg_first.svg") center top/100% auto no-repeat;
}

@media screen and (max-width: 1315px) {
  .games .game:first-child {
    background: #E8A47A url("../img/game__bg-first-m.svg") center top/100% auto no-repeat;
  }
}

.games .game:first-child .game__head {
  display: block;
  position: absolute;
  top: -5px;
  left: -22px;
}

@media screen and (max-width: 1315px) {
  .games .game:first-child .game__head {
    left: -14px;
    top: -17px;
    z-index: 5;
  }
  .games .game:first-child .game__head img {
    width: 69px;
  }
}

.games .game:first-child .game__title {
  color: #FC8200;
}

.games .game__wrapper {
  padding: 0px 19px 17px 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1315px) {
  .games .game__wrapper {
    padding: 20px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1315px) {
  .games .game__wrapper {
    display: block;
  }
}

.games .game__logo {
  max-width: 140px;
  max-height: 140px;
  padding-top: 20px;
  position: relative;
  margin-right: 71px;
}

@media screen and (max-width: 1315px) {
  .games .game__logo {
    padding-top: 0px;
    max-width: 94px;
    max-height: 94px;
    position: absolute;
  }
  .games .game__logo img {
    width: 94px;
    z-index: 4;
  }
}

@media screen and (max-width: 1315px) {
  .games .game__image {
    position: relative;
    z-index: 3;
  }
}

.games .game__gold {
  position: absolute;
  bottom: -30px;
  right: -140px;
  z-index: 2;
}

@media screen and (max-width: 1315px) {
  .games .game__gold {
    right: -60px;
    bottom: -10px;
    z-index: 4;
  }
  .games .game__gold img {
    width: 97px;
  }
}

.games .game__head {
  display: none;
}

.games .game__flag {
  position: absolute;
  top: 18px;
  right: -97px;
}

@media screen and (max-width: 1315px) {
  .games .game__flag {
    top: -5px;
    right: -75px;
  }
  .games .game__flag img {
    width: 91px;
  }
}

.games .game__number {
  position: absolute;
  z-index: 3;
  font-size: 18px;
  font-weight: 600;
  right: -30px;
  top: 40px;
}

@media screen and (max-width: 1315px) {
  .games .game__number {
    top: 10px;
    right: -20px;
    font-size: 14px;
  }
}

.games .game__promo {
  width: 316px;
  text-align: center;
  padding-top: 27px;
  margin-right: 20px;
}

@media screen and (max-width: 1315px) {
  .games .game__promo {
    width: 187px;
    z-index: 5;
    padding-top: 0;
    position: absolute;
    right: 0;
  }
}

.games .game__subtitle {
  display: block;
  color: #3D1F2E;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 18px;
}

@media screen and (max-width: 1315px) {
  .games .game__subtitle {
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 15px;
  }
}

.games .game__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 38px;
  color: #3D1F2E;
  margin-bottom: 12px;
}

@media screen and (max-width: 1315px) {
  .games .game__title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 6px;
  }
}

.games .game__code {
  color: #3D1F2E;
}

.games .game__code span {
  font-size: 12px;
}

.games .game__code .promocode {
  font-size: 14px;
  font-weight: 600;
  color: #A5331F;
  text-transform: uppercase;
}

.games .game__copy {
  cursor: pointer;
  display: inline-block;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.games .game__about {
  margin-top: 27px;
  font-size: 16px;
  color: #3D1F2E;
  margin-right: 20px;
}

@media screen and (max-width: 1315px) {
  .games .game__about {
    padding-top: 90px;
    margin-right: 0;
  }
}

.games .game__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.games .game__list li:last-child {
  margin-bottom: 0;
}

.games .game__list li img {
  margin-right: 12px;
}

.games .game__rating {
  text-align: center;
  margin-top: 27px;
  margin-right: 10px;
  position: relative;
}

@media screen and (max-width: 1315px) {
  .games .game__rating {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
  }
}

.games .game__rating span {
  display: block;
  color: #3D1F2E;
  font-size: 14px;
  margin-bottom: 8px;
}

@media screen and (max-width: 1315px) {
  .games .game__rating span {
    position: absolute;
    left: 45px;
    font-size: 12px;
  }
}

.games .game__rating img {
  display: block;
  -webkit-filter: drop-shadow(74px 113px 38px rgba(111, 60, 47, 0.01)) drop-shadow(47px 72px 35px rgba(111, 60, 47, 0.06)) drop-shadow(27px 41px 29px rgba(111, 60, 47, 0.2)) drop-shadow(12px 18px 22px rgba(111, 60, 47, 0.34)) drop-shadow(3px 5px 12px rgba(111, 60, 47, 0.39)) drop-shadow(0px 0px 0px rgba(111, 60, 47, 0.4));
          filter: drop-shadow(74px 113px 38px rgba(111, 60, 47, 0.01)) drop-shadow(47px 72px 35px rgba(111, 60, 47, 0.06)) drop-shadow(27px 41px 29px rgba(111, 60, 47, 0.2)) drop-shadow(12px 18px 22px rgba(111, 60, 47, 0.34)) drop-shadow(3px 5px 12px rgba(111, 60, 47, 0.39)) drop-shadow(0px 0px 0px rgba(111, 60, 47, 0.4));
}

@media screen and (max-width: 1315px) {
  .games .game__rating img {
    width: 120px;
  }
}

.games .game__rating .rating {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 60px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1315px) {
  .games .game__rating .rating {
    font-size: 16px;
    top: 47px;
    left: 44px;
  }
}

.games .game__rating .rating:after {
  content: url("../img/game__star.svg");
  margin-left: 2px;
}

.games .game__text-mobile {
  display: none;
}

@media screen and (max-width: 1315px) {
  .games .game__text-mobile {
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: #3D1F2E;
    font-weight: 300;
    text-align: left;
  }
}

.games .game__text {
  position: absolute;
  font-size: 12px;
  color: #3D1F2E;
  bottom: 17px;
}

@media screen and (max-width: 1315px) {
  .games .game__text {
    display: none;
  }
}

.games .game__button {
  position: relative;
  margin-top: 60px;
}

.games .game__button .d {
  display: block;
}

.games .game__button .m {
  display: none;
}

@media screen and (max-width: 1315px) {
  .games .game__button {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 16px;
  }
  .games .game__button a {
    position: relative;
  }
  .games .game__button .d {
    display: none;
  }
  .games .game__button .m {
    display: block;
  }
}

.games .game__button span {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  top: 22px;
  left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1315px) {
  .games .game__button span {
    font-size: 16px;
    top: 19px;
    left: 65px;
  }
}

.games .game__button span:after {
  content: url("../img/game__button-after.svg");
  -webkit-transform: translate(8px, -17px);
          transform: translate(8px, -17px);
}

.games .game__close {
  display: none;
  width: 103px;
  margin: 0 auto;
  font-size: 16px;
  color: #3D1F2E;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1315px) {
  .games .game__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.games .game__close:before {
  content: url("../img/game__close.svg");
}

.games .game__open {
  display: none;
}

@media screen and (max-width: 1315px) {
  .games .game.close {
    background: #FFC58E url("../img/game__bg-m-close.svg") center top/100% auto no-repeat;
    width: 100%;
    max-height: 251px;
    min-height: 251px;
  }
  .games .game.close .game__about {
    display: none;
  }
  .games .game.close .game__rating {
    display: none;
  }
  .games .game.close .game__button {
    margin-top: 125px;
  }
  .games .game.close .game__close {
    display: none;
  }
  .games .game.close .game__open {
    width: 103px;
    margin: 0 auto;
    font-size: 16px;
    color: #3D1F2E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .games .game.close .game__open:before {
    content: url("../img/game__open.svg");
  }
}

.about {
  -webkit-transform: translateY(-260px);
          transform: translateY(-260px);
  margin-bottom: 80px;
}

@media screen and (max-width: 1315px) {
  .about {
    margin-bottom: 20px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1919px) {
  .about {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.about__title {
  font-size: 48px;
  font-family: "Pirata One", cursive;
  margin-bottom: 20px;
}

@media screen and (max-width: 1315px) {
  .about__title {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

.about__subtitle {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 60px;
}

@media screen and (max-width: 1315px) {
  .about__subtitle {
    margin-bottom: 20px;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1315px) {
  .about__list {
    display: block;
  }
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1315px) {
  .about__item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .about__item {
    display: block;
    width: 100%;
  }
  .about__item img {
    width: 110px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .about__item {
    margin-bottom: 20px;
  }
}

.about__item:first-child {
  margin-bottom: 60px;
}

.about__item:first-child img {
  -webkit-filter: drop-shadow(111px 123px 46px rgba(110, 18, 18, 0.01)) drop-shadow(71px 79px 42px rgba(110, 18, 18, 0.05)) drop-shadow(40px 44px 36px rgba(110, 18, 18, 0.18)) drop-shadow(18px 20px 26px rgba(110, 18, 18, 0.3)) drop-shadow(4px 5px 15px rgba(110, 18, 18, 0.34)) drop-shadow(0px 0px 0px rgba(110, 18, 18, 0.35));
          filter: drop-shadow(111px 123px 46px rgba(110, 18, 18, 0.01)) drop-shadow(71px 79px 42px rgba(110, 18, 18, 0.05)) drop-shadow(40px 44px 36px rgba(110, 18, 18, 0.18)) drop-shadow(18px 20px 26px rgba(110, 18, 18, 0.3)) drop-shadow(4px 5px 15px rgba(110, 18, 18, 0.34)) drop-shadow(0px 0px 0px rgba(110, 18, 18, 0.35));
}

@media screen and (max-width: 1315px) {
  .about__item:first-child img {
    width: 110px;
  }
}

@media screen and (max-width: 1315px) {
  .about__item:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .about__item:first-child {
    margin-bottom: 0px;
  }
}

.about__item:nth-child(2) img {
  height: 176px;
  -webkit-filter: drop-shadow(111px 123px 46px rgba(110, 18, 18, 0.01)) drop-shadow(71px 79px 42px rgba(110, 18, 18, 0.05)) drop-shadow(40px 44px 36px rgba(110, 18, 18, 0.18)) drop-shadow(18px 20px 26px rgba(110, 18, 18, 0.3)) drop-shadow(4px 5px 15px rgba(110, 18, 18, 0.34)) drop-shadow(0px 0px 0px rgba(110, 18, 18, 0.35));
          filter: drop-shadow(111px 123px 46px rgba(110, 18, 18, 0.01)) drop-shadow(71px 79px 42px rgba(110, 18, 18, 0.05)) drop-shadow(40px 44px 36px rgba(110, 18, 18, 0.18)) drop-shadow(18px 20px 26px rgba(110, 18, 18, 0.3)) drop-shadow(4px 5px 15px rgba(110, 18, 18, 0.34)) drop-shadow(0px 0px 0px rgba(110, 18, 18, 0.35));
}

@media screen and (max-width: 1315px) {
  .about__item:nth-child(2) img {
    width: 128px;
    height: 114px;
  }
}

.about__item:nth-child(3) img {
  -webkit-filter: drop-shadow(111px 123px 46px rgba(110, 18, 18, 0.01)) drop-shadow(71px 79px 42px rgba(110, 18, 18, 0.05)) drop-shadow(40px 44px 36px rgba(110, 18, 18, 0.18)) drop-shadow(18px 20px 26px rgba(110, 18, 18, 0.3)) drop-shadow(4px 5px 15px rgba(110, 18, 18, 0.34)) drop-shadow(0px 0px 0px rgba(110, 18, 18, 0.35));
          filter: drop-shadow(111px 123px 46px rgba(110, 18, 18, 0.01)) drop-shadow(71px 79px 42px rgba(110, 18, 18, 0.05)) drop-shadow(40px 44px 36px rgba(110, 18, 18, 0.18)) drop-shadow(18px 20px 26px rgba(110, 18, 18, 0.3)) drop-shadow(4px 5px 15px rgba(110, 18, 18, 0.34)) drop-shadow(0px 0px 0px rgba(110, 18, 18, 0.35));
}

@media screen and (max-width: 1315px) {
  .about__item:nth-child(3) img {
    width: 110px;
  }
}

.about__text h6 {
  font-size: 24px;
  font-family: "Pirata One", cursive;
  line-height: 43px;
  margin-bottom: 10px;
}

.about__text p {
  font-size: 16px;
  line-height: 25px;
  width: 400px;
}

@media screen and (max-width: 700px) {
  .about__text p {
    width: 100%;
  }
}

.footer {
  position: relative;
  top: -260px;
  max-height: 870px;
}

@media screen and (max-width: 1919px) {
  .footer {
    top: 0;
  }
}

.footer__wrapper {
  width: calc(100% - 40px);
  height: 286px;
  background: rgba(128, 30, 23, 0.6);
}

@media screen and (max-width: 1315px) {
  .footer__wrapper {
    margin: 0 auto;
    height: auto;
    padding-bottom: 10px;
  }
}

.footer__header {
  position: relative;
  margin: 0px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 1315px) {
  .footer__header {
    display: none;
  }
}

.footer__header_mob {
  display: none;
}

@media screen and (max-width: 1315px) {
  .footer__header_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .footer__header_mob img {
    display: block;
  }
  .footer__header_mob img:first-child {
    width: 233px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer__header_mob img:last-child {
    width: 334px;
    margin: 0 auto;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0px 28px;
}

@media screen and (max-width: 1315px) {
  .footer__bottom {
    margin: 0px 20px;
    margin-bottom: 20px;
  }
  .footer__bottom img {
    margin-right: 22px;
  }
}

.footer__text {
  width: 1146px;
  font-size: 14px;
  font-weight: 300;
}

.footer__text span {
  display: block;
  line-height: 23px;
}

.footer__text .copyright {
  font-weight: 400;
  padding-top: 10px;
}

.footer__bg {
  position: relative;
}

@media screen and (max-width: 1315px) {
  .footer__bg {
    top: 0;
  }
}

.footer__bg img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */