.footer {

    .container {
        border-top: 1px solid #2B2A29;
        padding: 20px 10px 55px 10px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: calc(1200px - 20px);

        @media screen and (max-width: 1200px) {
            width: calc(100% - 20px);
        }

        @media screen and (max-width: 628px) {
            padding-bottom: 30px;
        } 

        @media screen and (max-width: 430px) {
            display: block;
        } 
    }

    &__logo {

        @media screen and (max-width: 628px) {
            
            img {
                width: 157px;
            }
        }    
    }

    &__contacts {

        @media screen and (max-width: 430px) {
            margin-top: 39px;
        } 

        a {
            display: flex;
            align-items: center;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;

            &:first-child {
                margin-bottom: 20px;
                
                &:before {
                    content: url('../img/icons/footer__tel.svg');
                    margin-right: 24px;
                }
            }

            &:last-child {

                &:before {
                    content: url('../img/icons/footer__mail.svg');
                    height: 24px;
                    margin-right: 24px;
                }
            }
        }
    }
}