.offer {
    min-width: 1200px;
    min-height: 100vh;
    background: url('../img/offer/offer__bg.jpg') center top / cover no-repeat;
    color: #fff;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    &__title {
        font-size: 48px;
        line-height: 52.8px;
        font-weight: 500;
        padding-bottom: 4px;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
    }

    &__arrow {
        position: absolute;
        bottom: 7.5px;
        width: 27px;
        margin: 0 auto;
        cursor: pointer;
    }
}