.collections-list {
    padding-bottom: 40px;

    @media screen and (max-width: 1397px) {
        padding-bottom: 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-bottom: 24px;

        @media screen and (max-width: 1397px) {
            grid-template-columns: 1fr;
            gap: 20px;
            margin-bottom: 0px;
        }

        li {

            a {

                img {
                    display: block;
                    aspect-ratio: 668 / 429;
                    margin-bottom: 24px;

                    @media screen and (max-width: 1397px) {
                        margin-bottom: 8px;
                    }
                }

                h3 {
                    font-size: 32px;

                    @media screen and (max-width: 1397px) {
                        font-size: 19px;
                    }
                }
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 33px;

        @media screen and (max-width: 1397px) {
            display: none;
        }

        svg {
            cursor: pointer;
        }

        ul {
            display: flex;
            gap: 20px;

            li {

                &.active {

                    a {
                        border: 1px solid $text-color;
                        color: $text-color;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 33px;
                    height: 33px;
                    text-align: center;
                    border-radius: 50%;
                    color: $link-color;
                }
            }
        }
    }
}
