body {
    font-family: $font-main;
    background: $page-bg url('/assets/images/base/bg.png') center top / cover no-repeat;
    color: $text-color;
    overflow-x: hidden;
}

main {
    max-width: 1920px;
    margin: 0 auto;
}
a {
    color: inherit;
}

.padding {
    padding: 60px 0px;
}

.h2 {
    font-size: 71px;
    font-family: $font-secondary;
    margin-bottom: 60px;
    margin-left: 76px;
    text-transform: uppercase;

    @media screen and (max-width: calc(1360px + 37px)) {
        font-size: 36px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

.h3 {
    font-size: 32px;
}

.p {
    font-size: 18px;
}

.link {
    color: $link-color;
    font-size: 20px;
    padding-bottom: 5px;
    position: relative;

    @media screen and (max-width: calc(1360px + 37px)) {
        font-size: 16px;
    }

    &:hover {

        &:after {
            opacity: 0;
        }
    }

    &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: $link-color;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s;
    }
}

.add-bg {
    background: $text-color;
    color: $white-color;
}

.pear {
    position: relative;
    // overflow: hidden;

    &:before {
        content: url('../images/base/pear.svg');
        position: absolute;
        top: 51px;
        right: 0px;
        z-index: -1;

        @media screen and (max-width: calc(1360px + 37px)) {
            display: none;
        }
    }
}

.underline-hover {
    padding-bottom: 15px;
    position: relative;

    &:after {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $light-bg-color;
        transition: 0.3s;
    }

    &:hover {

        &::after {
            width: 100%;
        }

        @media screen and (max-width: 1397px) {

            &:after {
                width: 0%;
            }
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.margin-hero {
    margin-top: 181px;

    @media screen and (max-width: 1397px) {
        margin-top: 119px;
    }
}

.about-main {

    .project-content {
        padding-top: 0px !important;
    }

    .project-cards {

        @media screen and (max-width: 1397px) {
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }

    .cta {

        @media screen and (max-width: 1397px) {
            padding-bottom: 20px;
        }
    }
}

.collections-main {

    .cta {
        border: none;
        padding-bottom: 90px;

        @media screen and (max-width: 1397px) {
            padding-bottom: 40px;
        }
    }

    .get-consul {
        margin: 0 !important;

        &__pear {
            display: none !important;
        }
    }
}

.checkout-main {

    .cta {
        border: none;
        padding-bottom: 90px;

        @media screen and (max-width: 1397px) {
            padding-bottom: 30px;
        }


        &:before {
            top: -410px;
        }
    }
}

.white-bg-header {

    @media screen and (max-width: 1397px) {
        background: $white-color !important;
    }
}

.our-projects-main {

    .cta {
        padding: 206px 0px 64px;
        border: none;

        @media screen and (max-width: 1397px) {
            padding: 20px 0px;
        }
    }
}
