$font-main: 'Gals';
$font-secondary: 'Manege Demo';

$text-color: #283344;
$add-text-color: #414141;
$white-color: #fff;
$link-color: #8A7A61;
$border-color: rgba(163, 163, 163, 0.7);
$light-bg-color: #D4C8A6;
$page-bg: rgba(249, 249, 249);
