@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
body {
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 1200px;
  margin: 0 auto; }

.title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
  color: #212121; }

* {
  margin: 0;
  padding: 0;
  border: 0; }

*, *:befor, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjast: 100%;
  -moz-text-size-adjast: 100%;
  -webkit-text-size-adjast: 100%; }

input, button, textarea {
  font-family: inherit; }

input::ms-clear {
  display: none; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400; }

.header {
  width: 100%;
  position: absolute;
  padding: 15px 0px;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__logo {
    position: absolute;
    left: 30px; }
  .header__menu {
    display: flex;
    gap: 24px; }
  .header__link a {
    font-weight: 500;
    font-size: 18px;
    color: #fff; }

.offer {
  min-width: 1200px;
  min-height: 100vh;
  background: url("../img/offer/offer__bg.jpg") center top/cover no-repeat;
  color: #fff; }
  .offer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; }
  .offer__title {
    font-size: 48px;
    line-height: 52.8px;
    font-weight: 500;
    padding-bottom: 4px; }
  .offer__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px; }
  .offer__arrow {
    position: absolute;
    bottom: 7.5px;
    width: 27px;
    margin: 0 auto;
    cursor: pointer; }

.services {
  padding-top: 80px;
  color: #2B2A28; }
  .services__list {
    padding-top: 74px; }
  .services__item {
    min-height: 312px;
    width: 850px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 39px; }
    .services__item:last-child {
      margin-bottom: 0px; }
  .services__image {
    width: 412px;
    height: 312px;
    background: url("../img/services/services__image_1.png") center center no-repeat; }
    .services__image:nth-child(2) {
      background: url("../img/services/services__image_2.png") center center no-repeat; }
    .services__image:nth-child(3) {
      background: url("../img/services/services__image_3.png") center center no-repeat; }
  .services__text {
    width: 315px;
    margin: 0 auto; }
  .services__text-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 14px;
    transform: translateX(-16px); }
  .services__ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 8px;
    list-style: disc; }
    .services__ul li:last-child {
      margin-bottom: 0; }

.partners {
  padding: 80px 0px; }
  .partners__title {
    margin-bottom: 32px; }
  .partners__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 25px; }

.footer .container {
  border-top: 1px solid #2B2A29;
  padding: 20px 0px 55px 0px;
  display: flex;
  justify-content: space-between;
  align-items: start; }

.footer__contacts a {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px; }
  .footer__contacts a:first-child {
    margin-bottom: 20px; }
    .footer__contacts a:first-child:before {
      content: url("../img/icons/footer__tel.svg");
      margin-right: 24px; }
  .footer__contacts a:last-child:before {
    content: url("../img/icons/footer__mail.svg");
    height: 24px;
    margin-right: 24px; }
