.socials {
    padding: 45px 0px;
    text-align: center;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    .social-link {
        width: 26px;
        height: 26px;
        border-radius: 2px;

        &:hover {
            opacity: 0.9;
        }
    }
}