.product-card {
    display: flex;
    justify-content: center;
    gap: 72px;

    &__gallery {
        width: 860px;
        height: 696px;
        background: rgba(138, 122, 97, 0.1);
        position: relative;
    }

    &__slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
        }
    }

    &__thumbs {
        position: absolute;
        top: 14px;
        right: 14px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        z-index: 2;

        .swiper {
            max-height: 540px;
        }
    }

    &__thumb {
        width: 77px;
        height: 77px;
        cursor: pointer;
        transition: 0.3s;
        padding: 2px;
        border: 2px solid transparent;

        &.swiper-slide-thumb-active {
            border-color: $text-color;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__button {
        position: absolute;
        bottom: 14px;
        right: 14px;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $link-color;
        cursor: pointer;
        z-index: 2;
    }
}
