.about-items {
    height: 85vh;
    background: url('../img/items-bg.jpg') center 50% / cover no-repeat fixed;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        text-align: center;
    }

    .title {
        font-size: 36px;
        margin-bottom: 50px;
    }

    p {
        font-size: 18px;
        letter-spacing: 0.5px;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    a {
        color: #fff;
        font-weight: 900;
        width: 243px;
        height: 60px;
        border-color: #fff;
        margin: 0 auto;
    }
}