/* Сброс стилей  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type="file"] {
  max-width: 100%;
}

/* Общие стили */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #2c303b;
  color: #fff;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
}

.container {
  padding: 0px 20px;
}

@media (max-width: 767.98px) {
  .container {
    padding: 0px 18px;
  }
}

/* Hero */

.hero {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-title {
  position: relative;
  z-index: 2;
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  max-width: calc(768px + 40px);
  text-align: center;
  line-height: 1.3;
  padding: 0px 20px;
}

.hero-tag {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #dcdcdc;
  position: relative;
  z-index: 2;
  margin-top: 25px;
}

.hero-tag img {
  width: 42px;
  height: 42px;
}

.hero-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 17px;
  z-index: 2;
}

@media (max-width: 767.98px) {
  .hero {
    max-height: 500px;
  }

  .hero-title {
    max-width: calc(100% - 40px);
    font-size: 20px;
    padding: 0px;
  }
}

/* Note */

.note {
  margin-top: 32px;
}

.note-text {
  position: relative;
  padding-left: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.note-text:before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

/* Header */

.header {
  padding: 32px 0px;
  position: sticky;
  top: 0px;
  z-index: 9999;
  background: #2c303b;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.header-tabs {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  max-width: fit-content;
}

.header-tabs-scroll-container {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.header-tabs-scroll-container::-webkit-scrollbar {
  display: none;
}

.header-tabs-scroll-container::-moz-progress-bar {
  display: none;
}

.header-tabs-prev {
  left: 0;
  background: linear-gradient(270deg, rgba(44, 48, 59, 0) 0%, #2c303b 25%);
}

.header-tabs-next {
  right: 0;
  background: linear-gradient(90deg, rgba(44, 48, 59, 0) 0%, #2c303b 25%);
}

.header-tabs-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.header-tabs-button.visible {
  opacity: 1;
  visibility: visible;
}

.header-tabs-scroll-container ul {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.header-tabs-scroll-container ul li {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  cursor: pointer;
}

.header-tabs-scroll-container ul li:hover {
  color: #fff;
}

.header-tabs-scroll-container ul li.active {
  color: #fff;
}

.header-menu {
  min-width: fit-content;
}

.header-menu ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-menu ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.header-menu ul li:hover {
  opacity: 0.6;
}

@media (max-width: 767.98px) {
  .header-menu {
    display: none;
  }
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-wrapper::after {
  content: "";
  flex-grow: 999999999;
}

.gallery-wrapper-item {
  height: 300px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  background: #e0e0e0;
}

.gallery-wrapper-item img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
}

.gallery-wrapper-item img.is-loaded {
  opacity: 1;
}

.gallery-wrapper-item-heart {
  position: absolute;
  top: 11px;
  right: 19px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-wrapper-item-heart img {
  width: 20px;
}

.gallery-wrapper-item-heart:hover {
  opacity: 0.6;
}

.gallery-wrapper-item-cart {
  position: absolute;
  bottom: 11px;
  right: 19px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-wrapper-item-cart img {
  width: 20px;
}

.gallery-wrapper-item-cart img:nth-child(2) {
  display: none;
}

.gallery-wrapper-item.added-to-cart
  .gallery-wrapper-item-cart
  img:nth-child(1) {
  display: none;
}

.gallery-wrapper-item.added-to-cart
  .gallery-wrapper-item-cart
  img:nth-child(2) {
  display: block;
}

@media (max-width: 767.98px) {
  .gallery {
    padding-bottom: 90px;
  }

  .gallery-wrapper {
    gap: 10px;
  }

  .gallery-wrapper-item {
    height: 200px;
  }
}

/* Gallary modal */

.gallery-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-modal.active {
  opacity: 1;
  visibility: visible;
}

.gallery-modal-close {
  width: 24px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-modal-close span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
}

.gallery-modal-close span:nth-child(1) {
  transform: rotate(45deg);
}

.gallery-modal-close span:nth-child(2) {
  transform: rotate(-45deg);
}

/* Mobile Menu */

.mobile-menu {
  width: 100%;
  padding: 20px;
  background: #2c303b;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .mobile-menu {
    display: block;
  }
}
