@font-face {
  font-family: "Gals";
  src: url("../fonts/Gals-Light.woff2") format("woff2"), url("../fonts/Gals-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manege Demo";
  src: url("../fonts/ManegeDemo-Light.woff2") format("woff2"), url("../fonts/ManegeDemo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Gals";
  background: rgb(249, 249, 249) url("/assets/images/base/bg.png") center top/cover no-repeat;
  color: #283344;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.padding {
  padding: 60px 0px;
}

.h2 {
  font-size: 71px;
  font-family: "Manege Demo";
  margin-bottom: 60px;
  margin-left: 76px;
  text-transform: uppercase;
}
@media screen and (max-width: 1397px) {
  .h2 {
    font-size: 36px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

.h3 {
  font-size: 32px;
}

.p {
  font-size: 18px;
}

.link {
  color: #8A7A61;
  font-size: 20px;
  padding-bottom: 5px;
  position: relative;
}
@media screen and (max-width: 1397px) {
  .link {
    font-size: 16px;
  }
}
.link:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #8A7A61;
  position: absolute;
  bottom: 0;
  left: 0;
}

.add-bg {
  background: #283344;
  color: #fff;
}

.pear {
  position: relative;
  overflow: hidden;
}
.pear:before {
  content: url("../images/base/pear.svg");
  position: absolute;
  top: 51px;
  right: 0px;
}
@media screen and (max-width: 1397px) {
  .pear:before {
    display: none;
  }
}

.underline-hover {
  padding-bottom: 15px;
  position: relative;
}
.underline-hover:after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #D4C8A6;
  transition: 0.3s;
}
.underline-hover:hover::after {
  width: 100%;
}
@media screen and (max-width: 1397px) {
  .underline-hover:hover:after {
    width: 0%;
  }
}

.no-scroll {
  overflow: hidden;
}

.margin-hero {
  margin-top: 181px;
}
@media screen and (max-width: 1397px) {
  .margin-hero {
    margin-top: 119px;
  }
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
@media screen and (max-width: 1397px) {
  .container {
    width: 100%;
    max-width: 575px;
    padding: 0px 18.5px;
  }
}

.home-hero {
  width: 100%;
  aspect-ratio: 1514/982;
  background: url("../images/sections/home-hero/bg.jpg") center top/cover no-repeat;
  position: relative;
  z-index: 1;
  color: #fff;
}
@media screen and (max-width: 1397px) {
  .home-hero {
    max-width: 575px;
    margin: 0 auto;
    aspect-ratio: 393/652;
    min-height: 620px;
  }
}
.home-hero__after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.78;
  z-index: 1;
}
.home-hero__tg {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 46px;
  z-index: 2;
}
@media screen and (max-width: 1397px) {
  .home-hero__tg {
    bottom: 30px;
  }
}
.home-hero__tg a {
  font-size: 21px;
}
@media screen and (max-width: 1397px) {
  .home-hero__tg a {
    font-size: 18px;
  }
}
.home-hero__container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 180px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1397px) {
  .home-hero__content {
    gap: 52px;
  }
}
.home-hero__content-header p {
  font-size: 26px;
  margin-bottom: 26px;
}
@media screen and (max-width: 1397px) {
  .home-hero__content-header p {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.home-hero__content-header h1 {
  font-size: 71px;
  font-family: "Manege Demo";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
@media screen and (max-width: 1397px) {
  .home-hero__content-header h1 {
    font-size: 45px;
    max-width: 350px;
    margin: 0 auto;
  }
  .home-hero__content-header h1 svg {
    display: none;
  }
}
.home-hero__content-footer p {
  font-size: 26px;
  margin-bottom: 26px;
}
@media screen and (max-width: 1397px) {
  .home-hero__content-footer p {
    font-size: 22px;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
.home-hero__content-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
@media screen and (max-width: 1397px) {
  .home-hero__content-footer ul {
    flex-direction: column;
    gap: 18px;
  }
}
.home-hero__content-footer ul li a {
  font-size: 19px;
}
@media screen and (max-width: 1397px) {
  .home-hero__content-footer ul li a {
    font-size: 18px;
  }
}

.taplink-main {
  width: 100%;
  height: 100dvh;
  min-height: 800px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .taplink-main {
    display: block;
    min-height: 670px;
  }
}

.taplink-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.taplink-video::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.taplink-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.taplink-header {
  padding: 23px 0px;
}
@media screen and (max-width: 1400px) {
  .taplink-header {
    padding: 23px 0px 0px 0px;
    margin-bottom: 40px;
  }
}
.taplink-header__wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1400px) {
  .taplink-header__logo {
    width: 228px;
  }
}
.taplink-header__logo img {
  width: 100%;
}

.taplink-content__container {
  height: 100%;
}
.taplink-content__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
@media screen and (max-width: 1400px) {
  .taplink-content__wrapper {
    gap: 40px;
  }
}
.taplink-content__header {
  text-align: center;
}
.taplink-content__header span {
  font-size: 26px;
  margin-bottom: 30px;
  display: block;
}
@media screen and (max-width: 1400px) {
  .taplink-content__header span {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
.taplink-content__header h1 {
  font-size: 70px;
  margin-bottom: 30px;
  font-family: "Manege Demo";
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1400px) {
  .taplink-content__header h1 {
    font-size: 45px;
    margin-bottom: 17px;
  }
}
.taplink-content__header h1 span {
  margin-bottom: 0px;
}
@media screen and (max-width: 1400px) {
  .taplink-content__header h1 span {
    display: none;
  }
}
.taplink-content__header p {
  font-size: 26px;
  margin: 0 auto;
  display: block;
  line-height: 28px;
}
@media screen and (max-width: 1400px) {
  .taplink-content__header p {
    font-size: 22px;
    line-height: 23px;
  }
}
@media screen and (max-width: 1400px) {
  .taplink-content__links {
    width: 100%;
  }
}
.taplink-content__links ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.taplink-content__links ul li a {
  width: 348px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  background: #8A7A61;
  line-height: 29px;
  transition: 0.3s;
}
.taplink-content__links ul li a:hover {
  background: rgba(180, 160, 129, 0.8);
}
@media screen and (max-width: 1400px) {
  .taplink-content__links ul li a {
    width: 100%;
  }
  .taplink-content__links ul li a:hover {
    background: #8A7A61;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: #fff;
  z-index: 2;
  max-width: 1920px;
  transition: 0.3s;
}
.header.text-color {
  color: #283344;
}
.header.text-color:hover {
  background: transparent;
}
.header.text-color .text-color {
  display: block;
}
.header.text-color .white-color {
  display: none;
}
.header.text-color .header__gum span {
  background: #283344;
}
.header .text-color {
  display: none;
}
@media screen and (max-width: 1397px) {
  .header {
    max-width: 575px;
  }
}
.header:hover {
  background: #283344;
}
@media screen and (max-width: 1397px) {
  .header:hover {
    background: transparent;
  }
}
.header__gum {
  display: none;
}
@media screen and (max-width: 1397px) {
  .header__gum {
    display: flex;
    width: 24px;
    flex-direction: column;
    gap: 8px;
  }
  .header__gum span {
    width: 100%;
    height: 1px;
    background: #fff;
  }
}
@media screen and (max-width: 1397px) {
  .header__lang {
    display: none;
  }
}
.header__top {
  padding: 52px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
  position: relative;
}
@media screen and (max-width: 1397px) {
  .header__top {
    border: none;
    padding: 32px 38px;
    height: 119px;
  }
}
.header__top ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1397px) {
  .header__top ul li {
    display: none;
  }
  .header__top ul li:nth-child(3) {
    display: block;
  }
}
.header__bottom {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
@media screen and (max-width: 1397px) {
  .header__bottom {
    display: none;
  }
}
.header__bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.header__bottom ul a {
  font-size: 14px;
  text-transform: uppercase;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1397px) {
  .header__logo {
    width: 124px;
  }
  .header__logo img {
    width: 100%;
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: #fff;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
  min-height: 600px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.header-mobile.active {
  opacity: 1;
  visibility: visible;
}
.header-mobile header {
  padding: 32px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-mobile-close {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mobile-close span {
  display: block;
  width: 20px;
  height: 1px;
  background: #8A7A61;
  transform: rotate(-45deg);
  position: absolute;
}
.header-mobile-close span:nth-child(2) {
  transform: rotate(45deg);
}
.header-mobile-phone {
  width: 20px;
  height: 20px;
}
.header-mobile-phone a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header-mobile ul li a {
  font-size: 24px;
  text-transform: uppercase;
}
.header-mobile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.header-mobile-links a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

.image-slider__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 76px;
  margin-bottom: 32px;
  padding: 0px calc((100% - 1360px) / 2);
}
.image-slider__header h3 {
  margin-bottom: 28px;
}
.image-slider__header p {
  display: block;
  margin-bottom: 28px;
  color: #414141;
}
.image-slider__header div div {
  display: flex;
  align-items: center;
  gap: 94px;
}
.image-slider__header div div span {
  font-size: 20px;
}
.image-slider__header div div div {
  gap: 37px;
}
.image-slider__arrows {
  display: flex;
  align-items: center;
  gap: 15px;
}
.image-slider__arrow {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.image-slider__arrow--next img {
  transform: rotate(180deg);
}
.image-slider .swiper {
  height: 560px;
  padding: 0px calc((100% - 1360px) / 2);
}
.image-slider__slide {
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
}
.image-slider__slide img {
  width: 295px;
  aspect-ratio: 295/464;
  object-fit: cover;
}
.image-slider__slide:nth-child(1) {
  width: 936px;
  max-width: 936px;
  height: 100%;
}
.image-slider__slide:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-slider__slide.swiper-slide-active {
  height: 100%;
}

.button {
  max-width: fit-content;
}
.button--fill {
  font-size: 28px;
  padding: 20px 40px;
}
@media screen and (max-width: 1397px) {
  .button--fill {
    padding: 10px 20px;
    font-size: 16px;
  }
}
.button--light {
  background: #D4C8A6;
}
.button--dark {
  background: #283344;
}
.button--white {
  background: #fff;
  color: #8A7A61 !important;
}

.products-slider header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 235px 0px 76px;
  margin-bottom: 48px;
}
@media screen and (max-width: 1397px) {
  .products-slider header {
    padding: 25px 0px 0px 0px;
    margin-bottom: 13px;
  }
}
.products-slider header h3 {
  font-size: 52px;
}
@media screen and (max-width: 1397px) {
  .products-slider header h3 {
    font-size: 24px;
  }
}
.products-slider__arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1397px) {
  .products-slider__arrows {
    display: none;
  }
}
.products-slider__arrow {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.products-slider__arrow--next img {
  transform: rotate(180deg);
}
.products-slider .swiper {
  height: 528px;
  padding: 0px calc((100% - 1360px) / 2);
}
@media screen and (max-width: 1397px) {
  .products-slider .swiper {
    height: auto;
    max-width: 575px;
    width: 100%;
    padding: 0px 16px;
  }
}
@media screen and (max-width: 1397px) {
  .products-slider .swiper .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 16px;
  }
}
.products-slider__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 322px;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide:nth-child(n+4) {
    display: none;
  }
}
@media screen and (max-width: 1397px) {
  .products-slider__slide {
    width: 100%;
    justify-content: start;
    gap: 6px;
  }
}
.products-slider__slide-image {
  width: 100%;
  height: 433px;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-image {
    height: auto;
    aspect-ratio: 176/228;
  }
}
.products-slider__slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-slider__slide-big {
  width: 668px;
  position: relative;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-big {
    width: 100%;
    aspect-ratio: 360/284;
    grid-column: span 2;
  }
}
.products-slider__slide-big .products-slider__slide-image {
  width: 100%;
  height: 100%;
}
.products-slider__slide-big .products-slider__slide-text {
  position: absolute;
  top: 40px;
  left: 40px;
  display: block;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-big .products-slider__slide-text {
    top: 15px;
    left: 20px;
  }
}
.products-slider__slide-big .products-slider__slide-text h3 {
  font-size: 22px;
  margin-bottom: 12px;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-big .products-slider__slide-text h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }
}
.products-slider__slide-big .products-slider__slide-text button {
  font-size: 16px;
  padding-bottom: 9px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-big .products-slider__slide-text button {
    padding-bottom: 1px;
    font-size: 14px;
  }
}
.products-slider__slide-big .products-slider__slide-tip {
  left: auto;
  right: 14px;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-big .products-slider__slide-tip {
    right: 9px;
  }
}
.products-slider__slide-tip {
  padding: 5px 13px;
  background: #283344;
  font-size: 16px;
  border-radius: 54px;
  position: absolute;
  top: 14px;
  left: 14px;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-tip {
    font-size: 14px;
    top: 12px;
    left: 9px;
  }
}
.products-slider__slide-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-text {
    gap: 6px;
  }
}
.products-slider__slide-text h3 {
  font-size: 22px;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-text h3 {
    font-size: 18px;
  }
}
.products-slider__slide-text p {
  font-size: 16px;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-text p {
    font-size: 14px;
  }
}
.products-slider__slide-text p span {
  font-size: 22px;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-text p span {
    font-size: 18px;
  }
}
.products-slider__slide-text button {
  font-size: 16px;
  padding-bottom: 9px;
  border-bottom: 1px solid;
}
@media screen and (max-width: 1397px) {
  .products-slider__slide-text button {
    font-size: 14px;
    padding-bottom: 1px;
  }
}

.cta {
  border-top: 1px solid rgba(163, 163, 163, 0.7);
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
  color: #283344;
}
.cta.no-border {
  border: none;
}
.cta.dark {
  color: #fff;
}
.cta.dark .cta__wrapper {
  background: #283344;
}
@media screen and (max-width: 1397px) {
  .cta {
    padding: 0px;
    padding-bottom: 30px;
    border: none;
  }
}
.cta__wrapper {
  display: grid;
  grid-template-columns: 626px 1fr;
  gap: 74px;
  align-items: center;
  background: #D4C8A6;
}
@media screen and (max-width: 1397px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px;
  }
}
.cta__image {
  width: 626px;
  height: 408px;
}
@media screen and (max-width: 1397px) {
  .cta__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 361/237;
  }
}
.cta__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1397px) {
  .cta__text {
    padding: 17px 16px;
  }
}
.cta__text h2 {
  font-size: 47px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1397px) {
  .cta__text h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
.cta__text p {
  font-size: 24px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1397px) {
  .cta__text p {
    font-size: 16px;
    margin-bottom: 12px;
  }
}
.cta__text button {
  color: #fff;
}

.coll-slider header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 235px 0px 76px;
  margin-bottom: 52px;
}
@media screen and (max-width: 1397px) {
  .coll-slider header {
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
.coll-slider header h3 {
  width: 600px;
  font-size: 32px;
}
@media screen and (max-width: 1397px) {
  .coll-slider header h3 {
    width: 100%;
    font-size: 18px;
  }
}
.coll-slider__arrows {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 1397px) {
  .coll-slider__arrows {
    display: none;
  }
}
.coll-slider__arrow {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.coll-slider__arrow--next img {
  transform: rotate(180deg);
}
.coll-slider__slide-image {
  aspect-ratio: 668/429;
  margin-bottom: 24px;
}
@media screen and (max-width: 1397px) {
  .coll-slider__slide-image {
    margin-bottom: 8px;
  }
}
.coll-slider__slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coll-slider__slide h3 {
  font-size: 32px;
}
@media screen and (max-width: 1397px) {
  .coll-slider__slide h3 {
    font-size: 19px;
  }
}
.coll-slider .swiper-pagination {
  display: none;
}
@media screen and (max-width: 1397px) {
  .coll-slider .swiper-pagination {
    display: flex;
    gap: 15px;
    position: static;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .coll-slider .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #8A7A61;
    opacity: 0.3;
    transition: 0.3s;
    margin: 0;
  }
  .coll-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: #283344;
  }
}

.product__image {
  width: 100%;
  aspect-ratio: 322/433;
  margin-bottom: 22px;
  position: relative;
}
@media screen and (max-width: 1397px) {
  .product__image {
    aspect-ratio: 176/228;
    margin-bottom: 6px;
  }
}
.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__tip {
  position: absolute;
  top: 14px;
  left: 14px;
  padding: 5px 13px;
  background: #283344;
  border-radius: 54px;
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 1397px) {
  .product__tip {
    top: 10px;
    left: 10px;
    font-size: 14px;
  }
}
.product h3 {
  font-size: 22px;
  margin-bottom: 16px;
}
@media screen and (max-width: 1397px) {
  .product h3 {
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 161%;
  }
}
.product p {
  font-size: 16px;
}
@media screen and (max-width: 1397px) {
  .product p {
    font-size: 14px;
  }
}
.product p span {
  font-size: 26px;
}
@media screen and (max-width: 1397px) {
  .product p span {
    font-size: 22px;
  }
}
.product button {
  font-size: 16px;
  color: #8A7A61;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
}
@media screen and (max-width: 1397px) {
  .product button {
    padding-bottom: 1px;
  }
}

.footer {
  background: #283344;
  position: relative;
}
.footer__before {
  content: url("../images/components/footer/before.png");
  position: absolute;
  bottom: 0;
  left: 0;
  mix-blend-mode: multiply;
  z-index: 1;
}
@media screen and (max-width: 1397px) {
  .footer__before {
    width: 100%;
  }
}
.footer__container {
  max-width: 1086px;
  margin: 0 auto;
}
.footer header {
  padding: 38px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: 1px solid rgba(195, 195, 195, 0.1);
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1397px) {
  .footer header {
    padding: 45px 0px 0px 0px;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    border: none;
  }
}
.footer header ul {
  display: flex;
  align-items: center;
  gap: 71px;
}
@media screen and (max-width: 1397px) {
  .footer header ul {
    flex-direction: column;
    gap: 18px;
  }
}
.footer header ul li a {
  text-transform: uppercase;
  font-size: 14px;
}
.footer header a {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 14px;
}
.footer__sub {
  display: flex;
  align-items: center;
  gap: 33px;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: 1397px) {
  .footer__sub {
    font-size: 16px;
  }
  .footer__sub svg {
    display: none;
  }
}
.footer__bottom {
  padding: 30px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1397px) {
  .footer__bottom {
    padding: 30px 0px 180px;
  }
}
.footer__bottom a img {
  width: 195px;
}
.footer__bottom p {
  font-size: 15px;
  color: #fff;
  opacity: 0.3;
}

.logo-slider {
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
}
@media screen and (max-width: 1397px) {
  .logo-slider {
    padding: 24px 0px;
  }
}
@media screen and (max-width: 1397px) {
  .logo-slider__container {
    overflow-x: scroll;
  }
  .logo-slider__container::-webkit-scrollbar {
    display: none;
  }
  .logo-slider__container::-moz-progress-bar {
    display: none;
  }
}
.logo-slider ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1397px) {
  .logo-slider ul {
    gap: 20px;
  }
}
.logo-slider ul img {
  width: 170px;
  height: 85px;
  object-fit: cover;
}
@media screen and (max-width: 1397px) {
  .logo-slider ul img {
    min-width: 100px;
    height: auto;
  }
}

.projects {
  padding-top: 112px;
}

.meet {
  border-top: 1px solid rgba(163, 163, 163, 0.7);
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
}
@media screen and (max-width: 1397px) {
  .meet {
    padding: 40px 0px;
  }
}
.meet__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1397px) {
  .meet__wrapper {
    gap: 25px;
    justify-content: center;
  }
}
.meet__images {
  display: flex;
  align-items: center;
  gap: 38px;
  border-right: 1px solid rgba(163, 163, 163, 0.7);
  padding: 60px 87px 60px 76px;
}
@media screen and (max-width: 1397px) {
  .meet__images {
    border-right: none;
    padding: 0px;
  }
}
.meet__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.meet__image:nth-child(1) {
  width: 215px;
  height: 283px;
  border-radius: 107px;
  overflow: hidden;
}
@media screen and (max-width: 1397px) {
  .meet__image:nth-child(1) {
    display: none;
  }
}
.meet__image:nth-child(2) {
  width: 345px;
  height: 453px;
  border-radius: 107px;
  overflow: hidden;
}
@media screen and (max-width: 1397px) {
  .meet__image:nth-child(2) {
    width: 121px;
    height: 182px;
    border-radius: 47px;
  }
}
.meet__text {
  padding-left: 87px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1397px) {
  .meet__text {
    padding-left: 0;
    gap: 20px;
  }
}
.meet__text h2 {
  font-size: 51px;
  text-transform: uppercase;
}
@media screen and (max-width: 1397px) {
  .meet__text h2 {
    font-size: 32px;
    line-height: 105%;
  }
}

.catalog__slider {
  padding: 60px 0px;
}
@media screen and (max-width: 1397px) {
  .catalog__slider {
    padding: 0;
    padding-bottom: 25px;
  }
}
.catalog__header {
  padding-top: 70px;
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
}
@media screen and (max-width: 1397px) {
  .catalog__header {
    padding: 25px 0px;
  }
}

@media screen and (max-width: 1397px) {
  .products-list {
    padding: 0px;
    padding-bottom: 30px;
  }
}
.products-list header {
  padding: 0px 0px 48px 76px;
}
@media screen and (max-width: 1397px) {
  .products-list header {
    padding: 0;
    padding-bottom: 13px;
  }
}
.products-list header h2 {
  font-size: 52px;
}
@media screen and (max-width: 1397px) {
  .products-list header h2 {
    font-size: 24px;
  }
}
.products-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 48px;
}
@media screen and (max-width: 1397px) {
  .products-list ul {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 16px;
  }
}
.products-list ul li a {
  height: 528px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1397px) {
  .products-list ul li a {
    height: auto;
    justify-content: flex-start;
  }
}
.products-list ul li:nth-child(1) {
  grid-column: span 2;
  position: relative;
}
.products-list ul li:nth-child(1) .products-list__item-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 360/284;
}
.products-list ul li:nth-child(1) .products-list__item-text {
  position: absolute;
  top: 40px;
  left: 40px;
}
@media screen and (max-width: 1397px) {
  .products-list ul li:nth-child(1) .products-list__item-text {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1397px) {
  .products-list ul li:nth-child(1) .products-list__item-text {
    top: 15px;
    left: 20px;
  }
}
.products-list ul li:nth-child(1) .products-list__item-text h3 {
  margin-bottom: 14px;
  font-size: 22px;
}
@media screen and (max-width: 1397px) {
  .products-list ul li:nth-child(1) .products-list__item-text h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }
}
.products-list ul li:nth-child(1) .products-list__item-text button {
  font-size: 16px;
  padding-bottom: 9px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 1397px) {
  .products-list ul li:nth-child(1) .products-list__item-text button {
    font-size: 14px;
    padding-bottom: 1px;
  }
}
.products-list ul li:nth-child(1) .products-list__item-tip {
  left: auto;
  right: 14px;
}
@media screen and (max-width: 1397px) {
  .products-list ul li:nth-child(1) .products-list__item-tip {
    right: 9px;
  }
}
.products-list__item {
  position: relative;
}
.products-list__item-image {
  width: 100%;
  aspect-ratio: 322/433;
}
@media screen and (max-width: 1397px) {
  .products-list__item-image {
    aspect-ratio: 176/228;
  }
}
.products-list__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1397px) {
  .products-list__item-text {
    margin-top: 6px;
  }
}
.products-list__item-text h3 {
  font-size: 22px;
  margin-bottom: 16px;
}
@media screen and (max-width: 1397px) {
  .products-list__item-text h3 {
    font-size: 18px;
    margin-bottom: 6px;
  }
}
.products-list__item-text p {
  font-size: 16px;
}
@media screen and (max-width: 1397px) {
  .products-list__item-text p {
    font-size: 14px;
  }
}
.products-list__item-text p span {
  font-size: 22px;
}
@media screen and (max-width: 1397px) {
  .products-list__item-text p span {
    font-size: 18px;
  }
}
.products-list__item-text button {
  padding-bottom: 9px;
  font-size: 16px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 1397px) {
  .products-list__item-text button {
    font-size: 14px;
    padding-bottom: 1px;
  }
}
.products-list__item-tip {
  padding: 5px 13px;
  background: #283344;
  border-radius: 54px;
  position: absolute;
  top: 14px;
  left: 14px;
}
@media screen and (max-width: 1397px) {
  .products-list__item-tip {
    font-size: 14px;
    top: 10px;
    left: 10px;
  }
}

.arrange {
  padding: 100px 0px 30px;
}
@media screen and (max-width: 1397px) {
  .arrange {
    padding: 30px 0px;
  }
}

.collabs {
  padding: 62px 0px 110px;
  overflow-x: hidden;
}
@media screen and (max-width: 1397px) {
  .collabs {
    padding: 20px 0px 30px;
    max-width: 575px;
    width: 100%;
    margin: 0 auto;
  }
}
.collabs header {
  text-align: center;
  margin-bottom: 67px;
}
@media screen and (max-width: 1397px) {
  .collabs header {
    margin-bottom: 29px;
    padding: 0px 16px;
  }
}
.collabs header h2 {
  font-size: 51px;
  text-transform: uppercase;
  font-family: "Manege Demo";
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 42px;
  justify-content: center;
}
@media screen and (max-width: 1397px) {
  .collabs header h2 {
    font-size: 36px;
    margin-bottom: 12px;
    gap: 20px;
  }
}
.collabs header h2:before {
  content: url("../images/sections/collabs/before.svg");
}
.collabs header h2:after {
  content: url("../images/sections/collabs/after.svg");
}
.collabs header p {
  width: 616px;
  margin: 0 auto;
  font-size: 32px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1397px) {
  .collabs header p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 1397px) {
  .collabs .desktop {
    display: none;
  }
}
.collabs .mobile {
  display: none;
}
@media screen and (max-width: 1397px) {
  .collabs .mobile {
    display: block;
    padding: 0px 16px;
  }
}
.collabs img {
  width: 100%;
  aspect-ratio: 1562/583;
}
@media screen and (max-width: 1397px) {
  .collabs img {
    aspect-ratio: 361/376;
  }
}

.virtual {
  border-top: 1px solid rgba(163, 163, 163, 0.7);
  border-bottom: 1px solid rgba(163, 163, 163, 0.7);
}
@media screen and (max-width: 1397px) {
  .virtual {
    padding: 0px;
    padding-bottom: 40px;
    border: none;
  }
}
.virtual__wrapper {
  display: grid;
  grid-template-columns: 602px 1fr;
  align-items: center;
  gap: 83px;
}
@media screen and (max-width: 1397px) {
  .virtual__wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}
.virtual__image {
  margin: 60px 0px;
  width: 100%;
  height: 453px;
  position: relative;
  border-radius: 107px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1397px) {
  .virtual__image {
    margin: 0;
    height: auto;
    aspect-ratio: 361/229;
    border-radius: 63px;
  }
}
.virtual__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.virtual__image span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 28px;
  color: #fff;
}
.virtual__image span:after {
  content: "";
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
  top: 0;
  position: absolute;
  transform: translateY(-50%);
}
.virtual__text {
  height: 100%;
  padding-left: 87px;
  border-left: 1px solid rgba(163, 163, 163, 0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1397px) {
  .virtual__text {
    padding-left: 0px;
    border: none;
    text-align: center;
    align-items: center;
  }
}
.virtual__text h2 {
  font-size: 51px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
@media screen and (max-width: 1397px) {
  .virtual__text h2 {
    font-size: 32px;
    margin-bottom: 18px;
  }
}

.section-header {
  margin-bottom: 30px;
}
@media screen and (max-width: 1397px) {
  .section-header {
    margin-bottom: 20px;
  }
}
.section-header__search {
  display: none;
}
@media screen and (max-width: 1397px) {
  .section-header__search {
    display: block;
    margin-bottom: 20px;
  }
  .section-header__search label {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 38px;
    background: #fff;
    border-radius: 100px;
    position: relative;
  }
  .section-header__search label input {
    font-size: 16px;
    color: #8A7A61;
  }
  .section-header__search label input::placeholder {
    color: #8A7A61;
  }
  .section-header__search label span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.section-header__breadcrumbs {
  margin-bottom: 36px;
}
@media screen and (max-width: 1397px) {
  .section-header__breadcrumbs {
    margin-bottom: 20px;
  }
}
.section-header__breadcrumbs ul {
  display: flex;
  align-items: center;
  gap: 6px;
}
.section-header__breadcrumbs ul li {
  color: #8A7A61;
  font-size: 14px;
}
.section-header__breadcrumbs ul li a {
  padding-right: 6px;
  border-right: 1px solid rgba(40, 50, 68, 0.2);
}
.section-header__breadcrumbs ul li span {
  color: #283344;
}
.section-header__title {
  font-family: "Manege Demo";
  font-size: 57px;
  margin-bottom: 21px;
  text-transform: uppercase;
}
@media screen and (max-width: 1397px) {
  .section-header__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
.section-header__text {
  font-size: 16px;
  max-width: 1000px;
}
@media screen and (max-width: 1397px) {
  .section-header__text {
    font-size: 14px;
  }
}

.tax {
  margin-bottom: 22px;
}
@media screen and (max-width: 1397px) {
  .tax {
    margin-bottom: 20px;
  }
}
.tax h2 {
  font-size: 30px;
  margin-bottom: 16px;
}
@media screen and (max-width: 1397px) {
  .tax h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
.tax ul {
  display: flex;
  flex-wrap: wrap;
}
.tax ul li:last-child {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  display: none;
}
@media screen and (max-width: 1397px) {
  .tax ul li:last-child {
    display: block;
  }
}
.tax ul li a {
  display: block;
  padding: 7px 16px;
  font-size: 19px;
  color: #8A7A61;
  border: 1px solid #8A7A61;
  transition: 0.3s;
  margin-right: 6px;
  margin-bottom: 6px;
}
@media screen and (max-width: 1397px) {
  .tax ul li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1397px) {
  .tax ul li a.none {
    display: none;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
.tax ul li a:hover {
  background: rgba(138, 122, 97, 0.1);
}
@media screen and (max-width: 1397px) {
  .tax ul li a:hover {
    background: transparent;
  }
}
.tax ul li button {
  font-size: 14px;
  padding-bottom: 2px;
  border-bottom: 1px solid #8A7A61;
  color: #8A7A61;
}

.filters {
  margin-bottom: 40px;
}
.filters__selections {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1397px) {
  .filters__selections {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: #fff;
    z-index: 3;
    flex-direction: column;
    padding: 0px 16px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .filters__selections.active {
    opacity: 1;
    visibility: visible;
  }
}
.filters__selections header {
  display: none;
}
@media screen and (max-width: 1397px) {
  .filters__selections header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0px;
  }
  .filters__selections header h2 {
    font-size: 24px;
  }
}
.filters__selections footer {
  display: none;
}
@media screen and (max-width: 1397px) {
  .filters__selections footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 100%;
    margin-bottom: 16px;
    align-items: center;
  }
}
.filters__selections footer button {
  width: 100%;
  min-height: 49px;
  font-size: 18px;
  background: #283344;
  color: #fff;
  height: 161%;
}
.filters__selections footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
.filters__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters__selection {
  padding: 3.5px 20px;
  border-left: 1px solid rgba(40, 50, 68, 0.2);
  position: relative;
}
@media screen and (max-width: 1397px) {
  .filters__selection {
    padding: 20px 0px;
    width: 100%;
    border-top: 1px solid rgba(40, 50, 68, 0.2);
    border-left: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.filters__selection h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 1397px) {
  .filters__selection h3 {
    justify-content: start;
    order: -1;
  }
}
.filters__selection h3 svg {
  transition: 0.3s;
}
.filters__selection ul {
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 246px;
  padding: 8px;
  border: 1px solid rgba(40, 50, 68, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 0.3s;
  z-index: 2;
  background: #fff;
}
@media screen and (max-width: 1397px) {
  .filters__selection ul {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
    display: none;
    border: none;
    width: 100%;
    padding: 0;
  }
}
.filters__selection ul.active {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1397px) {
  .filters__selection ul.active {
    display: block;
  }
}
.filters__selection ul.active ~ h3 svg {
  transform: rotate(180deg);
}
.filters__selection ul li {
  padding: 10px 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}
@media screen and (max-width: 1397px) {
  .filters__selection ul li {
    padding: 10px 24px;
  }
}
.filters__selection ul li:hover {
  background: #f9f9f9;
}
.filters__selection ul li label {
  display: flex;
  align-items: start;
  gap: 12px;
}
.filters__selection ul li label input {
  display: none;
}
.filters__selection ul li label input:checked ~ span {
  background: #40c35d;
  border-color: #40c35d;
}
.filters__selection ul li label input:checked ~ span svg {
  opacity: 1;
}
.filters__selection ul li label span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  height: 22px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #8A7A61;
  transition: 0.3s;
}
.filters__selection ul li label span svg {
  opacity: 0;
  transition: 0.3s;
}
.filters__selection ul li label p {
  margin-top: 3px;
}
.filters__choice {
  display: flex;
  align-items: center;
  gap: 20px;
}
.filters__choice ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1397px) {
  .filters__choice ul {
    display: none;
  }
}
.filters__choice ul li {
  padding: 7px 10px;
  font-size: 16px;
  color: #fff;
  background: #b4a081;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: 0.3s;
}
.filters__choice ul li:hover {
  background: rgba(180, 160, 129, 0.8);
  cursor: pointer;
}
.filters__choice ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters__choice button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}
.filters__trigger {
  display: none;
}
@media screen and (max-width: 1397px) {
  .filters__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0px 16px;
    border-left: 1px solid rgba(40, 50, 68, 0.2);
    border-right: 1px solid rgba(40, 50, 68, 0.2);
    font-size: 14px;
    color: #8A7A61;
  }
  .filters__trigger p {
    padding-bottom: 1px;
    border-bottom: 1px solid #8A7A61;
  }
  .filters__trigger span {
    width: 20px;
    height: 20px;
    background: #283344;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
  }
}

.catalog-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 48px;
}
@media screen and (max-width: 1397px) {
  .catalog-list ul {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 16px;
  }
}

.get-consul {
  margin: 48px 0px;
  padding: 24px 0px;
  border-top: 1px solid rgba(61, 61, 61, 0.1);
  border-bottom: 1px solid rgba(61, 61, 61, 0.1);
  position: relative;
}
@media screen and (max-width: 1397px) {
  .get-consul {
    margin: 16px 0px;
    padding: 17px 0px;
  }
}
.get-consul__pear {
  position: absolute;
  top: -50%;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 1397px) {
  .get-consul__pear {
    display: none;
  }
}
.get-consul__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1397px) {
  .get-consul__wrapper {
    flex-direction: column;
  }
}
.get-consul__image {
  overflow: hidden;
  width: 162px;
  height: 186px;
  border-radius: 107px;
}
@media screen and (max-width: 1397px) {
  .get-consul__image {
    width: 241px;
    height: 186px;
    margin-bottom: 17px;
  }
}
.get-consul__image--second {
  width: 313px;
  height: 116px;
  border-radius: 107px;
}
@media screen and (max-width: 1397px) {
  .get-consul__image--second {
    display: none;
  }
}
.get-consul__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.get-consul h2 {
  font-size: 49px;
  max-width: 500px;
}
@media screen and (max-width: 1397px) {
  .get-consul h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 1397px) {
  .get-consul button {
    font-size: 19px;
  }
}

.may-like {
  padding-top: 70px;
}
@media screen and (max-width: 1397px) {
  .may-like {
    padding-top: 20px;
  }
}
.may-like h2 {
  font-size: 52px;
  margin-bottom: 28px;
  font-family: "Manege Demo";
}
@media screen and (max-width: 1397px) {
  .may-like h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.may-like ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
@media screen and (max-width: 1397px) {
  .may-like ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

.catalog-text {
  padding: 60px 0px 100px;
}
@media screen and (max-width: 1397px) {
  .catalog-text {
    padding: 20px 0px 60px;
  }
}
.catalog-text p {
  max-width: 1000px;
  font-size: 16px;
}
@media screen and (max-width: 1397px) {
  .catalog-text p {
    font-size: 14px;
  }
}

.product-card {
  display: flex;
  justify-content: center;
  gap: 72px;
}
.product-card__gallery {
  width: 860px;
  height: 696px;
  background: rgba(138, 122, 97, 0.1);
  position: relative;
}
.product-card__slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.product-card__slide img {
  height: 100%;
}
.product-card__thumbs {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  z-index: 2;
}
.product-card__thumbs .swiper {
  max-height: 540px;
}
.product-card__thumb {
  width: 77px;
  height: 77px;
  cursor: pointer;
  transition: 0.3s;
  padding: 2px;
  border: 2px solid transparent;
}
.product-card__thumb.swiper-slide-thumb-active {
  border-color: #283344;
}
.product-card__thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card__button {
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8A7A61;
  cursor: pointer;
  z-index: 2;
}/*# sourceMappingURL=style.css.map */