@charset "UTF-8";
body {
  font-family: Gerbera, sans-serif; }

.container {
  width: 1160px;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 960px; } }
  @media screen and (max-width: 970px) {
    .container {
      width: 600px; } }
  @media screen and (max-width: 640px) {
    .container {
      width: calc(100% - 40px); } }

.btn-transparent {
  color: #000000;
  font-size: 14px;
  font-family: 'Gerbera',Arial,sans-serif;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center; }

.section-title {
  color: #000;
  font-size: 14px;
  padding: 60px 0px 45px; }
  .section-title .bold {
    font-weight: 500; }
  .section-title a {
    color: #000; }

.porduct-wrapper-no-title {
  padding: 120px 0px; }
  .porduct-wrapper-no-title .container {
    display: flex;
    flex-wrap: wrap; }

@font-face {
  font-family: 'Gerbera';
  font-display: swap;
  src: url("../fonts/Gerbera.eot");
  src: local("O"), url("../fonts/Gerbera.woff") format("woff"), url("../fonts/Gerbera.ttf") format("truetype"), url("../fonts/Gerbera.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gerbera';
  font-display: swap;
  src: url("../fonts/Gerbera-Light.eot");
  src: local("O"), url("../fonts/Gerbera-Light.woff") format("woff"), url("../fonts/Gerbera-Light.ttf") format("truetype"), url("../fonts/Gerbera-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gerbera';
  font-display: swap;
  src: url("../fonts/Gerbera-Medium.eot");
  src: local("O"), url("../fonts/Gerbera-Medium.woff") format("woff"), url("../fonts/Gerbera-Medium.ttf") format("truetype"), url("../fonts/Gerbera-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gerbera';
  font-display: swap;
  src: url("../fonts/Gerbera-Bold.eot");
  src: local("O"), url("../fonts/Gerbera-Bold.woff") format("woff"), url("../fonts/Gerbera-Bold.ttf") format("truetype"), url("../fonts/Gerbera-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gerbera';
  font-display: swap;
  src: url("../fonts/Gerbera-Black.eot");
  src: local("O"), url("../fonts/Gerbera-Black.woff") format("woff"), url("../fonts/Gerbera-Black.ttf") format("truetype"), url("../fonts/Gerbera-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  border: 0; }

*, *:befor, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjast: 100%;
  -moz-text-size-adjast: 100%;
  -webkit-text-size-adjast: 100%; }

input, button, textarea {
  font-family: inherit; }

input::ms-clear {
  display: none; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400; }

.header {
  padding-top: 50px;
  background: url("../img/offer-bg.jpg") center top/cover no-repeat;
  min-height: 755px; }
  @media screen and (max-height: 755px) {
    .header {
      min-height: calc(100vh - 50px); } }
  .header-gum {
    display: none;
    z-index: 2; }
    @media screen and (max-width: 981px) {
      .header-gum {
        display: block;
        position: fixed;
        top: 30px;
        right: 20px; }
        .header-gum span {
          display: block;
          width: 24px;
          height: 3px;
          margin-bottom: 5px;
          background: #fff; } }
  @media screen and (max-width: 981px) {
    .header-nav.no-active {
      right: -300px; } }
  .header-nav {
    height: 60px;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 981px) {
      .header-nav {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 2;
        background: #000;
        min-height: 727px; } }
    .header-nav .close {
      display: none; }
      @media screen and (max-width: 981px) {
        .header-nav .close {
          display: block;
          position: absolute;
          top: 10px;
          right: 10px; }
          .header-nav .close img {
            width: 24px;
            height: 24px;
            color: #fff; } }
  .header-menu {
    display: flex;
    position: relative; }
    @media screen and (max-width: 981px) {
      .header-menu {
        display: block;
        width: 220px;
        padding: 48px 40px 38px;
        height: 100%;
        overflow-y: auto; } }
    .header-menu li {
      font-size: 10px;
      text-transform: uppercase;
      padding: 0 15px;
      letter-spacing: 0.5px;
      color: #fff;
      cursor: pointer;
      font-weight: 700;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 981px) {
        .header-menu li {
          padding: 0;
          padding-bottom: 20px;
          font-size: 21px;
          text-transform: none;
          justify-content: end; } }
      .header-menu li span {
        height: 7px;
        font-size: 18px;
        padding-left: 5px; }
        @media screen and (max-width: 981px) {
          .header-menu li span {
            display: none; } }
      .header-menu li a {
        letter-spacing: 0.5px;
        color: #fff;
        font-weight: 700; }
      .header-menu li:first-child {
        padding-left: 0; }
      .header-menu li:last-child {
        padding-right: 0; }
        @media screen and (max-width: 981px) {
          .header-menu li:last-child {
            margin-bottom: 60px; } }
    .header-menu li.now a {
      opacity: 0.7; }
    .header-menu li.m {
      display: none; }
      @media screen and (max-width: 981px) {
        .header-menu li.m {
          display: flex; } }
    .header-menu li.acordion:hover .header-acordion {
      display: block; }
    @media screen and (max-width: 981px) {
      .header-menu li.acordion {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: relative;
        padding-right: 15px; }
        .header-menu li.acordion:after {
          content: '🢓';
          position: absolute;
          top: 8px;
          right: 0; } }
    .header-menu li.acordion.active .header-acordion {
      display: block; }
  .header-links {
    display: none; }
    @media screen and (max-width: 981px) {
      .header-links {
        position: absolute;
        bottom: 38px;
        right: 40px;
        display: block; }
        .header-links ul {
          display: flex;
          justify-content: flex-end; }
          .header-links ul li {
            margin-left: 10px; }
        .header-links span {
          display: block;
          font-size: 14px;
          color: #fff;
          text-align: right;
          margin-top: 20px; } }
  .header-acordion {
    position: absolute;
    padding: 18px 20px;
    background: #fff;
    top: 40px;
    transform: translateX(-25%);
    z-index: 1;
    max-width: 110px;
    min-width: 110px;
    display: none; }
    @media screen and (max-width: 981px) {
      .header-acordion {
        position: static;
        background: transparent;
        display: none;
        min-height: 0;
        max-height: auto;
        transform: none;
        padding: 0;
        text-align: right;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding-top: 21px; } }
    .header-acordion:after {
      content: '';
      width: 100%;
      height: 30px;
      position: absolute;
      top: -30px;
      left: 0; }
      @media screen and (max-width: 981px) {
        .header-acordion:after {
          display: none; } }
    .header-acordion:before {
      content: "";
      width: 18px;
      height: 18px;
      background: #fff;
      position: absolute;
      transform: rotate(45deg);
      top: -8px;
      left: 44%; }
      @media screen and (max-width: 981px) {
        .header-acordion:before {
          display: none; } }
    .header-acordion li {
      padding: 0;
      text-transform: none;
      margin-bottom: 15px;
      position: static; }
      @media screen and (max-width: 981px) {
        .header-acordion li {
          margin-bottom: 20px; } }
      .header-acordion li:last-child {
        margin-bottom: 0; }
      .header-acordion li a {
        color: #000;
        font-size: 14px;
        font-weight: 400; }
        @media screen and (max-width: 981px) {
          .header-acordion li a {
            display: block;
            font-size: 10px;
            color: #fff; } }
  .header-acordion.active {
    display: block; }
    @media screen and (max-width: 981px) {
      .header-acordion.active {
        display: flex; } }
  .header-logo {
    position: relative;
    left: -30px;
    top: -15px; }
    @media screen and (max-width: 970px) {
      .header-logo {
        left: -20px; } }
    @media screen and (max-width: 560px) {
      .header-logo {
        left: 20px; } }
    .header-logo img {
      display: block;
      width: 427px;
      height: auto; }
      @media screen and (max-width: 970px) {
        .header-logo img {
          width: 312px; } }
      @media screen and (max-width: 560px) {
        .header-logo img {
          width: 227px; } }
  .header-subtitle {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    position: relative;
    top: -40px; }
    @media screen and (max-width: 970px) {
      .header-subtitle {
        font-size: 16px;
        width: 350px;
        top: -20px; } }
    @media screen and (max-width: 560px) {
      .header-subtitle {
        font-size: 12px;
        width: 253px;
        line-height: 14px;
        padding-left: 36px;
        top: -27px; } }
  .header-btn {
    width: 160px;
    height: 55px;
    color: #fff;
    border-color: #fff; }
    @media screen and (max-width: 970px) {
      .header-btn {
        margin-top: 20px; } }
    @media screen and (max-width: 560px) {
      .header-btn {
        margin-top: 0px;
        margin-left: 36px;
        width: 151px;
        height: 40px;
        font-size: 10px; } }

.all-species-wrapper {
  padding: 60px 0;
  background: #f5f5f5; }
  .all-species-wrapper .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px; }
  @media screen and (max-width: 1200px) {
    .product {
      width: 220px; } }
  @media screen and (max-width: 970px) {
    .product {
      width: 300px; } }
  @media screen and (max-width: 640px) {
    .product {
      width: 45%;
      text-align: center;
      margin-bottom: 40px; } }
  .product img {
    display: block;
    width: 260px; }
    @media screen and (max-width: 1200px) {
      .product img {
        width: 220px; } }
    @media screen and (max-width: 970px) {
      .product img {
        width: 280px; } }
    @media screen and (max-width: 640px) {
      .product img {
        width: 90%; } }
  .product-name {
    padding: 20px 0px;
    font-size: 16px;
    color: #000;
    font-weight: 300; }
    @media screen and (max-width: 1200px) {
      .product-name {
        font-size: 14px; } }
  .product-price {
    font-size: 16px;
    font-weight: 500;
    color: #000; }
    @media screen and (max-width: 1200px) {
      .product-price {
        font-size: 14px; } }

.product.big {
  width: 360px;
  margin-right: 20px;
  margin-bottom: 20px; }
  @media screen and (max-width: 1200px) {
    .product.big {
      width: 300px; } }
  @media screen and (max-width: 970px) {
    .product.big {
      width: 280px; } }
  @media screen and (max-width: 640px) {
    .product.big {
      width: 44%;
      text-align: center; } }
  .product.big img {
    width: 360px; }
    @media screen and (max-width: 1200px) {
      .product.big img {
        width: 250px;
        margin: 0 auto; } }
    @media screen and (max-width: 640px) {
      .product.big img {
        width: 90%; } }

.about-no-image {
  padding: 60px 0; }
  .about-no-image .container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 970px) {
      .about-no-image .container {
        display: block; } }
    @media screen and (max-width: 1200px) {
      .about-no-image .container .left-block {
        width: 349px; } }
    @media screen and (max-width: 970px) {
      .about-no-image .container .left-block {
        width: 100%; } }
    .about-no-image .container .left-block span {
      font-size: 10px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase; }
      @media screen and (max-width: 970px) {
        .about-no-image .container .left-block span {
          width: 300px;
          margin: 0 auto;
          display: block; } }
    .about-no-image .container .left-block p {
      width: 504px;
      font-size: 24px;
      color: #000;
      padding-top: 40px;
      line-height: 29px; }
      @media screen and (max-width: 1200px) {
        .about-no-image .container .left-block p {
          font-size: 18px;
          width: auto; } }
      @media screen and (max-width: 970px) {
        .about-no-image .container .left-block p {
          font-weight: 700; } }
      @media screen and (max-width: 970px) {
        .about-no-image .container .left-block p {
          font-size: 16px;
          width: 300px;
          margin: 0 auto;
          line-height: 19px;
          font-weight: 500;
          padding-bottom: 20px; } }
    @media screen and (max-width: 1200px) {
      .about-no-image .container .right-block {
        width: 455px; } }
    @media screen and (max-width: 970px) {
      .about-no-image .container .right-block {
        width: 100%; } }
    .about-no-image .container .right-block p {
      width: 504px;
      font-size: 16px;
      color: #000;
      line-height: 25px;
      padding-top: 50px;
      padding-bottom: 50px; }
      @media screen and (max-width: 1200px) {
        .about-no-image .container .right-block p {
          font-size: 14px;
          width: auto;
          padding-bottom: 20px; } }
      @media screen and (max-width: 970px) {
        .about-no-image .container .right-block p {
          width: 100%; } }
      @media screen and (max-width: 970px) {
        .about-no-image .container .right-block p {
          padding: 0px 0px 20px; } }
      @media screen and (max-width: 970px) {
        .about-no-image .container .right-block p {
          padding: 0;
          font-size: 10px;
          width: 300px;
          margin: 0 auto;
          line-height: 15px;
          padding-bottom: 60px; } }
    .about-no-image .container .right-block a {
      width: 150px;
      height: 50px;
      color: #000;
      font-weight: 500; }
      @media screen and (max-width: 1200px) {
        .about-no-image .container .right-block a {
          height: 45px; } }
      @media screen and (max-width: 970px) {
        .about-no-image .container .right-block a {
          margin-left: calc((100% - 300px) / 2);
          width: 137px;
          height: 37px;
          font-size: 10px; } }

.about-image-left {
  height: 700px;
  background: #EBEAE2;
  display: flex; }
  @media screen and (max-width: 1200px) {
    .about-image-left {
      height: 60vh;
      min-height: 585px; } }
  @media screen and (max-width: 981px) {
    .about-image-left {
      display: block;
      height: auto; } }
  .about-image-left .slider {
    width: 50%;
    overflow: hidden; }
    .about-image-left .slider .slide {
      width: 100%;
      height: 100%; }
    @media screen and (max-width: 981px) {
      .about-image-left .slider {
        width: 100%; } }
  .about-image-left img {
    width: 100%;
    height: 100%;
    min-width: 50%;
    object-fit: cover; }
    @media screen and (max-width: 981px) {
      .about-image-left img {
        width: 100%; } }
  .about-image-left .text-block {
    padding: 160px 100px;
    color: #000;
    height: auto;
    margin: auto 0;
    width: calc(50% - 200px); }
    @media screen and (max-width: 1200px) {
      .about-image-left .text-block {
        padding: 0px 50px;
        width: calc(50% - 100px); } }
    @media screen and (max-width: 981px) {
      .about-image-left .text-block {
        padding: 40px 0;
        width: calc(100% - 40px);
        margin: 0 auto; } }
    .about-image-left .text-block span {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase; }
      @media screen and (max-width: 981px) {
        .about-image-left .text-block span {
          font-size: 10px;
          display: block;
          padding-bottom: 40px; } }
      @media screen and (max-width: 970px) {
        .about-image-left .text-block span {
          width: 300px;
          margin: 0 auto;
          display: block; } }
    .about-image-left .text-block .title {
      padding-top: 40px;
      font-size: 24px;
      line-height: 30px; }
      @media screen and (max-width: 981px) {
        .about-image-left .text-block .title {
          font-size: 18px;
          width: 317px;
          padding: 0;
          line-height: 29px; } }
      @media screen and (max-width: 970px) {
        .about-image-left .text-block .title {
          font-weight: 700; } }
      @media screen and (max-width: 380px) {
        .about-image-left .text-block .title {
          width: 100%; } }
      @media screen and (max-width: 970px) {
        .about-image-left .text-block .title {
          font-size: 16px;
          width: 300px;
          margin: 0 auto;
          line-height: 19px;
          font-weight: 500;
          padding-bottom: 20px; } }
    .about-image-left .text-block p {
      font-size: 16px;
      font-weight: 300;
      padding-top: 30px;
      line-height: 25px;
      padding-bottom: 60px; }
      @media screen and (max-width: 981px) {
        .about-image-left .text-block p {
          font-size: 14px;
          width: 540px;
          padding: 0; } }
      @media screen and (max-width: 640px) {
        .about-image-left .text-block p {
          width: 100%; } }
      @media screen and (max-width: 970px) {
        .about-image-left .text-block p {
          padding: 0;
          font-size: 10px;
          width: 300px;
          margin: 0 auto;
          line-height: 15px;
          padding-bottom: 60px; } }
    .about-image-left .text-block a {
      width: 138px;
      height: 45px;
      color: #000;
      font-weight: 500; }
      @media screen and (max-width: 981px) {
        .about-image-left .text-block a {
          margin: 0 auto; } }
      @media screen and (max-width: 970px) {
        .about-image-left .text-block a {
          margin: 0; } }
      @media screen and (max-width: 970px) {
        .about-image-left .text-block a {
          margin-left: calc((100% - 300px) / 2);
          width: 137px;
          height: 37px;
          font-size: 10px; } }
    @media screen and (max-width: 981px) {
      .about-image-left .text-block .text-center {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px; } }
    @media screen and (max-width: 970px) {
      .about-image-left .text-block .text-center {
        display: block; } }
    @media screen and (max-width: 560px) {
      .about-image-left .text-block .text-center {
        padding: 0; } }

.collection {
  padding: 60px; }
  @media screen and (max-width: 1200px) {
    .collection {
      padding: 20px 0px 20px; } }
  @media screen and (max-width: 970px) {
    .collection {
      padding-bottom: 60px; } }
  @media screen and (max-width: 640px) {
    .collection {
      padding-bottom: 0px; } }
  .collection .container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 640px) {
      .collection .container {
        display: block; } }
    @media screen and (max-width: 970px) {
      .collection .container {
        width: calc(100% - 40px); } }
    .collection .container .left-block {
      width: 587px;
      color: #000;
      position: relative;
      z-index: 2; }
      @media screen and (max-width: 1200px) {
        .collection .container .left-block {
          padding-top: 50px;
          width: 460px; } }
      @media screen and (max-width: 640px) {
        .collection .container .left-block {
          width: 100%; } }
      .collection .container .left-block span {
        display: block;
        padding-top: 80px;
        padding-bottom: 80px;
        font-size: 10px;
        font-weight: 700; }
        @media screen and (max-width: 1200px) {
          .collection .container .left-block span {
            padding-top: 0;
            padding-bottom: 40px; } }
        @media screen and (max-width: 640px) {
          .collection .container .left-block span {
            width: 300px;
            margin: 0 auto;
            display: block; } }
      .collection .container .left-block .title {
        font-size: 41px;
        line-height: 50px;
        margin-bottom: 60px; }
        @media screen and (max-width: 1200px) {
          .collection .container .left-block .title {
            font-size: 30px;
            margin-bottom: 0; } }
        @media screen and (max-width: 640px) {
          .collection .container .left-block .title {
            font-size: 18px;
            line-height: 23px;
            margin: 0 auto;
            width: 300px;
            padding-bottom: 15px; } }
      .collection .container .left-block .opacity {
        font-size: 21px;
        font-weight: 300;
        opacity: 0.5;
        line-height: 30px; }
        @media screen and (max-width: 1200px) {
          .collection .container .left-block .opacity {
            font-size: 16px; } }
        @media screen and (max-width: 640px) {
          .collection .container .left-block .opacity {
            font-size: 14px;
            line-height: 20px;
            margin: 0 auto;
            width: 300px;
            padding-bottom: 15px; } }
      .collection .container .left-block .black {
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        padding-top: 30px;
        padding-bottom: 30px; }
        @media screen and (max-width: 1200px) {
          .collection .container .left-block .black {
            font-size: 14px;
            padding: 10px 0; } }
        @media screen and (max-width: 640px) {
          .collection .container .left-block .black {
            font-size: 10px;
            line-height: 15px;
            margin: 0 auto;
            width: 300px;
            padding-bottom: 20px; } }
      .collection .container .left-block a {
        width: 200px;
        height: 55px;
        color: #000;
        font-weight: 700; }
        @media screen and (max-width: 1200px) {
          .collection .container .left-block a {
            height: 45px; } }
        @media screen and (max-width: 970px) {
          .collection .container .left-block a {
            margin-left: calc((100% - 300px) / 2);
            width: 137px;
            height: 37px;
            font-size: 10px; } }
    .collection .container img {
      width: 360px; }
      @media screen and (max-width: 970px) {
        .collection .container img {
          width: 260px; } }
      @media screen and (max-width: 640px) {
        .collection .container img {
          width: 100%;
          margin: 0 auto;
          position: relative;
          top: -40px; } }

.all-items-wrapper {
  padding: 60px 0;
  background: #fff; }
  .all-items-wrapper .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.all-gift-wrapper {
  padding-bottom: 60px;
  background: #fff; }
  .all-gift-wrapper .container {
    display: flex;
    flex-wrap: wrap; }

.footer {
  background: #212121;
  padding: 100px 0;
  font-size: 14px;
  line-height: 22px; }
  @media screen and (max-width: 640px) {
    .footer {
      padding: 40px 0; } }
  .footer-links {
    display: flex;
    flex-wrap: wrap; }
    .footer-links ul {
      width: 160px;
      margin-right: 30px; }
      @media screen and (max-width: 1200px) {
        .footer-links ul {
          margin-bottom: 20px; } }
      .footer-links ul:last-child {
        margin-right: 0; }
      .footer-links ul li {
        margin-bottom: 5px; }
    .footer-links a {
      opacity: 0.5;
      color: #fff;
      font-weight: 300; }
    .footer-links .images {
      width: 300px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .footer-links .images img {
        display: block;
        max-width: 143px;
        max-height: 80px;
        object-fit: contain;
        position: relative;
        top: -10px; }
    .footer-links .title {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      padding-bottom: 10px;
      height: 40px; }
    .footer-links .social {
      color: #fff;
      width: 260px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px; }
      .footer-links .social a {
        color: #fff;
        opacity: 1; }
      .footer-links .social img {
        width: 51px;
        color: #fff; }
  .footer-bottom {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap; }
    .footer-bottom .about {
      width: 700px;
      font-size: 11px;
      line-height: 17px;
      color: #fff;
      margin-right: 63px; }
      @media screen and (max-width: 1200px) {
        .footer-bottom .about {
          padding-bottom: 10px;
          width: 100%; } }
    .footer-bottom .copy {
      width: 300px;
      font-size: 10px;
      color: #757575;
      line-height: 12px; }
      .footer-bottom .copy span {
        padding-top: 20px;
        display: block; }

.about-items {
  height: 85vh;
  background: url("../img/items-bg.jpg") center 50%/cover no-repeat fixed;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 981px) {
    .about-items {
      background: url("../img/items-bg.jpg") center 50%/cover no-repeat;
      align-items: start;
      padding-top: 60px;
      height: calc(85vh - 60px); } }
  .about-items .wrapper {
    text-align: center; }
    @media screen and (max-width: 981px) {
      .about-items .wrapper {
        width: 475px; } }
  .about-items .title {
    font-size: 36px;
    margin-bottom: 50px; }
    @media screen and (max-width: 981px) {
      .about-items .title {
        font-size: 40px;
        width: 379px;
        margin: 0 auto;
        padding-bottom: 30px; } }
    @media screen and (max-width: 540px) {
      .about-items .title {
        width: 100%; } }
    @media screen and (max-width: 640px) {
      .about-items .title {
        font-size: 25px;
        width: 300px;
        padding-bottom: 10px; } }
  .about-items p {
    font-size: 18px;
    letter-spacing: 0.5px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 60px; }
    @media screen and (max-width: 981px) {
      .about-items p {
        font-size: 13px;
        width: 475px;
        margin-bottom: 30px; } }
    @media screen and (max-width: 540px) {
      .about-items p {
        width: 90%; } }
    @media screen and (max-width: 640px) {
      .about-items p {
        font-size: 12px;
        width: 280px;
        line-height: 15px;
        margin-bottom: 20px; } }
  .about-items a {
    color: #fff;
    font-weight: 900;
    width: 243px;
    height: 60px;
    border-color: #fff;
    margin: 0 auto; }
    @media screen and (max-width: 981px) {
      .about-items a {
        width: 160px;
        height: 45px;
        font-size: 10px; } }
    @media screen and (max-width: 640px) {
      .about-items a {
        width: 140px;
        height: 35px; } }
